<h1>Submit New Question</h1>
<form action="/questions" method="POST">
<p>
    <input type="text" name="title">
</p>
<p>
    <input type="text" name="question">
</p>
<input type="submit" value="Create">
</form>